doctype html
html
  head
    title Resumeon - key to customized resume
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    // Optional theme
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
    style.
      body  {
      background-image: url("images/register.jpg");
      background-origin: padding-box;
      background-size:cover;
      }
      .centered {
      position: fixed;
      top: 10%;
      left: 10%;
      color: white;
      }
  body
  block content
  .container
  .centered
    h1 Register yourself in!
    p.lead Its free and always will be.
    br
    form(class="pure-form", role='form', action="/register",method="post", style='max-width: 300px;')
      .form-group
          input.form-control(type='email', name="username", placeholder='Email', required)
      .form-group
        input.form-control(type='text', name="name", placeholder='Full Name', required)
      .form-group
        input.form-control(type='password', id="password", name="password", placeholder='Password', required)
      .form-group
        input.form-control(type='password', id="password1", name="password1", placeholder='Re-type Password', required)
      .form-group
        | Gender:&nbsp&nbsp&nbsp
        input(type="radio", name="gender", value="male", required)
        | &nbspMale&nbsp&nbsp&nbsp
        input(type="radio", name="gender", value="female", required)
        | &nbspFemale
      .form-group
        | Date of Birth:
        input.form-control(type='date', name="birthday", max="{{minAge | date:'yyyy-MM-dd'}}", required)
        div(role='alert')
          span.error(ng-show='birthday.$error.max')
            | Minimum age: 15

      button.btn.btn-success(type='submit', class="pure-button pure-button-primary") Submit
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      a(href='/')
        button.btn.btn-danger(type="button") Cancel

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='https://code.jquery.com/jquery-2.2.0.min.js')

    script.
      var password = document.getElementById("password"), password1 = document.getElementById("password1");
      function validatePassword(){
      if(password.value != password1.value) {
      password1.setCustomValidity("Passwords Don't Match");
      } else {
      password1.setCustomValidity('');
      }
      }
      password.onchange = validatePassword;
      password1.onkeyup = validatePassword;
      
        var today = new Date();
        var minAge = 15;
        $scope.minAge = new Date(today.getFullYear() - minAge, today.getMonth(), today.getDate());

